<div class = "form-for-listings">
<div class="form-row">
<div class="col-mx-auto">
<%= form_with(model: @listing, local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <p><%= form.text_field :title %></p>
  </div>
  <div>
    <%= form.label :description %>
    <p><%= form.text_area :description %></p>
  </div>
  <div>
    <%= form.label :price %>
    <p><%= form.number_field :price, min: 0, precision:10  %></p>
  </div>
  <div>
    <%= form.label :gluten_free %>
    <%= form.check_box (:gluten_free)%>
  </div>
    <div>
    <%= form.label :vegan %>
    <%= form.check_box (:vegan)%>
  </div>
  <div>
    <%= form.label :dairy_free %>
    <%= form.check_box (:dairy_free)%>
  </div>
  <div>
    <%= form.label :delivery %>
    <%= form.check_box (:delivery)%>
  </div>


  <div>
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.order(:name),:id,:name %>
    <%= form.fields_for :categories, @listing.listings_categories.build do |categories| %>
    <%# <% <%= categories.text_field :name %>
    <% end  %>
  </div>



  <div>
  <%= form.label :picture %> 
  <p><%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %></p>
</div>
  <div>
    <%= form.submit %>
  </div>
   <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@listing.errors.count, "error") %> prohibited
        this listing from being saved:
      </h2>
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
 </div>
 </div>
 </div>