
<h1><%= @listing.title %></h1>
<p><%=@listing.description  %></p>
<p>Price: <%= number_to_currency(@listing.price / 100.0) %></p>
<p>Gluten Free: <%=@listing.gluten_free?  %></p>
<p>Vegan:<%=@listing.vegan?%></p>
<p>Dairy Free:<%=@listing.dairy_free?%></p>
<p>Delivery:<%=@listing.delivery?  %></p>
<%# <%= image_tag @listing.picture if @listing.picture.attached? %>

<%= link_to 'edit', edit_listing_path(@listing) %>
<%= link_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: "Really delete #{@listing.title}?"} %>

<%= link_to 'Back', listings_path%>
