
<div class = "user-details">
  <p>Name:<%= @user.name.capitalize %></p>


  <div class ="user-listings">
  <% if current_user.listings.nil? %>
  <%= You have no listings %>
  <% end %>
  </div>

  <div class = "current-listings">
  <% current_user.listings.each do |listing|%>
  <p> <%=link_to listing.title, listing_path(listing)%></p>
  <p> <%=listing.description %></p>
  <p> <%=number_to_currency(listing.price) %></p>
  <% end %>
  </div>

  <p> Comments: Please contact me via email <%= @user.email %> if you have any further questions regarding pickup or delivery. 


