<div class="welcome-page">
  <div class = "row row-cols-2">
  <div class="col-6 welcome-sign">
  <%= image_tag("macarons.jpeg", style: "max-width:100%; height:auto")%>
  </div>
    <div class="col-6", id="homebaked-info">
    <h1>HOMEBAKE</h1>
    <p>Buy and sell baked at home treats including cakes, breads and desserts. </p>
    </div>
  </div>
</div>
<% if user_signed_in? %>
<h3>Welcome <%=current_user.name.capitalize  %>!</h3>
<% end  %>

 <h5>What would you like today?</h5>
<div class="search-prompt">
  <%= search_form_for @q do |f| %>
  <%= f.label :description%>
  <%= f.search_field :description_cont, class: 'form-control' %>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div> 